
.tinderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.person-img{
    max-width: 80%;
    max-height: 400px;
    object-fit: contain;
    position: relative;

}

.card{
    padding: 20px;
    /* text-align: center; */
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 2%;
    
}

.person-name{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin: 0.5%; */
}



.swiper{
    position: absolute;
    top:0px;
}